{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}

    <h1>Modifier mon mot de passe</h1>

    {{ form_start(updatePassword) }}
    {{ form_row(updatePassword.updatedPassword, {
        label: 'Mot de passe'
    }) }}

    <button type="submit" class="btn">Modifier mon mot de passe</button>
    {{ form_end(updatePassword) }}
{% endblock %}
