<h1>Bienvenue sur Book Companion !</h1>
<h2>Veuillez valider votre email</h2>

<p>
    Veuillez valider votre email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Valider mon email</a>.
</p>

<p>
    Bonne journée !
</p>
